@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Area 51</h1>
    <p><a href="Aliens/AddAlien" class="btn btn-primary">New Alien</a></p>
    <p><a href="Aliens/FindAlien" class="btn btn-primary">Alien Lookup</a></p>
    <p><a href="Aliens/Index" class="btn btn-primary">AlienDB</a></p>
</div>
